// common colors
$--yellow: #fad02c;
$--cream: #f8efe4;
$--rosewater: #e6c2bf;
$--black: #282120;
$--red: #f55c47;
$--gray: #f0f0f0;
//$--black: #4c5355;

// fonts
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;300;400;500;700&display=swap');

$--font-family: 'Fira Sans', sans-serif;
$--font-weight-bold: 700;
$--font-weight-medium: 500;
$--font-weight-normal: 400;
$--font-weight-light: 300;
$--font-weight-thin: 100;
$--font-size-small: 12px;
$--font-size-base: 16px;
$--font-size-title: 32px;
$--font-size-subtitle: 24px;

// animations
$--transition: all 0.2s ease-in;

// theme settings
$--primary: $--yellow;
$--secondary: $--rosewater;
$--additional: $--cream;
$--danger: $--red;
$--text: $--black;
$--placeholder: #adadad;
$--tag: $--gray;
$--placeholder-size: 14px;
$--border-radius: 5px;
$--border: 1px solid #ccc;
$--box-shadow: 0px 0px 2px gray;
